body {
  font-family: sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 150px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: #ddd;
}

main {
  max-width: 800px;
  background-color: white;
  padding: 2em;

  border-radius: .5em;
  box-shadow: 0 0 5px rgba(200 200 200 / 0.4);
}